.grid-container, .inside-grid-container {
    display: grid;
    grid-gap: 1em;
}

.grid-container {
    margin: 1em;
}

.grid-item-1, .grid-item-2, .grid-item-3 {
    grid-column: 1;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.grid-item-1, .grid-item-2 {
    padding: 1em;
}

.grid-item-3 {
    height: 18em;
}

.inside-item-1 {
    grid-column: 1;
}

.inside-item-2 {
    grid-column: 2;
}

.inside-item-3 {
    grid-column: 3;
    text-align: right;
}

.grid-item-1 img {
    height: 0;
    visibility: hidden;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1em;
    border-radius: 10px;
    background-color: rgb(200, 200, 255);
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: blue;
    cursor: pointer;
}

.generateGraphButton, .useAlgorithmButton {
    width: 49%;
    height: 3em;
    font-weight: 700;
    color: black;
    background-color: rgb(100, 200, 255);
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.useAlgorithmButton {
    float: right;
}

.generateGraphButton:hover, .useAlgorithmButton:hover {
    background-color: rgb(0, 170, 255);
}

.generateGraphButton:active, .useAlgorithmButton:active {
    background-color: rgb(0, 100, 255);
}

@media only screen and (min-width: 768px) {
    .grid-item-1 {
        grid-column: 1 / span 3;
    }
    .grid-item-2, .grid-item-3 {
        grid-row: 2;
    }
    .grid-item-2 {
        grid-column: 1 / 2;
    }
    .grid-item-3 {
        grid-column: 2 / span 2;
        height: 23em;
    }
    .grid-item-1 img {
        height: 5em;
        visibility: visible;
    }
}

@media only screen and (min-width: 1024px) {
    .grid-container {
        margin: 5em 10em auto 10em;
    }
}